<div class="center">

  <ng-container *ngIf="settings">
    <h1 class="timer" *ngIf="!settings.disable; else disabled">
      T - {{thurgerTime$ | async}}
    </h1>
    <ng-template #disabled>
      <h1>
        Order time over yo
      </h1>
    </ng-template>
  </ng-container>

  <div *ngIf="orderGroups$ | async as groups">

    <div *ngFor="let group of getGroups(groups)">
      <div *ngIf="group !== 'special'">
        {{group}} - {{groups[group].length}}
      </div>
      <div *ngIf="group === 'special'">
        <div *ngFor="let order of groups[group]">
          {{order.itemName}} - {{order.extras}}
        </div>
      </div>
    </div>

  </div>

  <div>
    <h2>What do you want?</h2>
  </div>
  <ng-container *ngIf="order$ | async as order">
    <span class="fixed">

      <ng-container *ngFor="let item of menu"> 
        <button mat-raised-button [color]="order.itemName === item.name ? 'primary': ''" (click)="updateOrder(item)" >{{item.name}}</button>
      </ng-container>

      <button mat-raised-button color="warn" (click)="updateOrder(null)" >Remove</button>
      
      <mat-form-field>
        <input matInput [value]="order.extras || ''" placeholder="Extras" (keyup)="updateExtras($event.target.value)" />
      </mat-form-field>

    </span>
  </ng-container>
  
  <div>
    <h2>Orders</h2>
  </div>

  <div class="flex">
    <ng-container *ngFor="let order of orders$ | async as orders; trackBy: trackById">
      <span class="side">{{ cutOffRl(order.email) }}</span>
      <span>{{order.itemName}} <span *ngIf="order.extras">- {{order.extras}}</span></span>
      <span class="side">{{order.updatedAt}} ago</span>
    </ng-container>
  </div>
</div>
