/* Add application styles & imports to this file! */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%;
  font-size: 1.4em;
  text-align:center;
}

.result{
  font-size: 20em;
}
button{
  min-width: 65px;
}
h1 {
  margin-top: 0;
  font-size: 5em;
  color: #ff00c7
}


